<div class="container">
<div class="row">
    <div class="col-md-3">

        <div class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-facebook-square fa-4x"></i>
            </a>
            <div class="media-body">
                <h4 class="media-heading">Comparte facebook</h4>
                Atero voluptatum ptatum eos et accusamus et iusto 
            </div>
        </div>



    </div>
    <div class="col-xs-6 col-md-3">
        <i class="fa fa-facebook-square fa-2x"></i> Comparte
    </div>
</div>
</div>
